[run]
# measure branch coverage, too
branch = True
# don't measure python standard library (this is the default)
cover_pylib = False

omit =
    /usr/*
    mysite/*
    polls/migrations/*
    *manage.py*
    *__init__*