{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<div>
<h2>{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <table>
            <p>{{ question.question_text }}</p>
            <p><a href="{% url 'polls:detail' question.id %}">Vote</a>
            <a href="{% url 'polls:results' question.id %}" style="margin-left: 2rem">See result</a></p>
        </table>
        
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}</h2></div>