li a {
    color: red;
}

.question {
    color:lightcoral;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.font-choice {
    font-size: 1.5rem;
}

.polls {
    text-align: center;
    background-color: white;
    width: 100%;
    height: auto;
}

div {
    box-sizing: border-box;
    border-color: black;
    padding: 0%;
    padding-left: 20%;
    padding-right: 20%;
    border: 10px solid lightgoldenrodyellow;
    background-color: hsla(66, 71%, 86%, 0.9);
}

body {
    background: white url("images/background.png") repeat;
    background-size: 25%;
    color: blueviolet;
    text-shadow: 2px 1px lightgoldenrodyellow;
}